body{
    color: white;
    background-color: rgb(115, 10, 119);
}

.cvlist {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.listelement {
    padding: 0.3rem;
}
.cvlist1 {
   
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cvlist2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.image{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.link{
    text-decoration: none;
    color: green;
}
